.songs-page {
  &__wrapper {
    column-count: 4;

    @media (max-width: 992px) {
      column-count: 3;
    }

    @media (max-width: 768px) {
      column-count: 2;
    }

    @media (max-width: 480px) {
      column-count: 1;
    }
  }

  &__item {
    line-height: 1.8;
  }

  h3 {
    @media (max-width: 480px) {
      font-size: 18px;
    }

    span {
      color: var(--hover-text);
    }
  }

  &__song {
    a {
      margin-left: 5px;
      text-decoration: none;
      border-bottom: 1px solid var(--hover-text);

      &.error {
        text-decoration: line-through;
      }
    }
  }
}
