@if (artistName) {
  <div class="songs-page">
    <div class="songs-page__item">
      <h3>
        <span>Все песни</span>
        @if (isOtherSongs) {
          |
          <a [routerLink]="'other'">Песни, не вошедшие в альбомы</a>
        }
      </h3>
    </div>
    @for (song of songs; track song.id; let i = $index) {
      <div class="songs-page__item">
        <div class="songs-page__song">
          {{ i + 1 }}.
          <a [routerLink]="'/artist/' + artistId + '/song/' + song.id">
            {{ song.name[0] }}
          </a>
        </div>
      </div>
    }
  </div>
}
