@if (artistName) {
  <div class="songs-page">
    <div class="songs-page__item">
      <h3>
        <span>Все песни</span>
        @if (isOtherSongs) {
          |
          <a [routerLink]="'other'">Песни, не вошедшие в альбомы</a>
        }
      </h3>
    </div>
    <div class="songs-page__wrapper">
      @for (song of songs; track song.id; let i = $index) {
        <div class="songs-page__item">
          <div class="songs-page__song">
            {{ i + 1 }}.
            <a
              [class.error]="!song.text.trim()"
              [routerLink]="'/artist/' + artistId + '/song/' + song.id"
              (click)="onClick(`click_song_${song.id}_page_songs_artist_${artistId}`)"
            >
              {{ song.name[0] }}
            </a>
          </div>
        </div>
      }
    </div>
  </div>
}
