<header class="header">
  @if (artistId) {
    <h2>
      <a [routerLink]="'/artist/' + artistId">
        {{ artistName }}
      </a>
    </h2>
    <ul class="header__menu">
      <li
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="'/artist/' + artistId">Дискография</a>
      </li>
      <li [routerLinkActive]="'active'">
        <a [routerLink]="'/artist/' + artistId + '/songs'">Тексты песен</a>
      </li>
      <li [routerLinkActive]="'active'">
        <a [routerLink]="'/artist/' + artistId + '/video'">Клипы</a>
      </li>
    </ul>
  }
</header>
