<div class="song-page">
  @if (artistName) {
    <h2 class="song-page__name">
      <a [routerLink]="'/artist/' + artistId">{{ artistName }}</a>
    </h2>
    @if (song?.clipYouTubeId) {
      <div class="song-page__video">
        <youtube-player
          [videoId]="song?.clipYouTubeId"
          placeholderImageQuality="low"
        ></youtube-player>
      </div>
    }
    <div class="song-page__wrap">
      <h3>
        {{ song?.name }}
      </h3>
      <small>{{ song?.authors }}</small>
      <pre>{{ song?.text }}</pre>
    </div>

    <div class="song-page__wrap">
      @if (albums.length) {
        @for (album of albums; track album.id) {
          <div class="song-page__item">
            <strong>
              {{ album.year }} —
              <span>
                <a [routerLink]="'/artist/' + artistId + '/' + album.id">
                  {{ album.name }}
                </a>
              </span>
            </strong>
          </div>
        }
      } @else {
        <div class="song-page__item">
          <a [routerLink]="'/artist/' + artistId + '/songs/other'">
            Песни, не вошедшие в альбомы
          </a>
        </div>
      }
    </div>
  }
</div>
