<div class="home-page">
  @if (artistName) {
    <h2 class="home-page__name">
      <a [routerLink]="'/artist/'+artistId">{{ artistName }}</a>
    </h2>
    <div class="home-page__wrap">
      <h3 style="margin-bottom: 0;">
        {{ song?.name }}
      </h3>
      <small>{{ song?.authors }}</small>
      <pre>{{ song?.text }}</pre>
    </div>

    <div class="home-page__wrap">
      @if (albums.length) {
        @for (album of albums; track album.id) {
          <div class="home-page__item">
            <strong>
              <span>
                <a [routerLink]="'/artist/'+artistId+'/'+album.id">
                  {{ album.name }}
                </a>
              </span> ({{ album.year }})
            </strong>
          </div>
        }
      } @else {
        <div class="home-page__item">
          <a [routerLink]="'/artist/'+artistId+'/songs/other'">
            Песни, не вошедшие в альбомы
          </a>
        </div>
      }
    </div>
  }
</div>
