@import '../../../grid';

.song-page {
  @include row-flex();

  h2 {
    @include col();
    @include size(24);
  }

  &__col {
    @include col();
    @include size(12);
    @include size-w992(24);
    position: relative;
  }

  &__video {
    position: sticky;
    top: 20px;
    aspect-ratio: 16 / 9;

    @include w992-block() {
      margin: 20px 0 40px;
    }
  }

  h3 {
    margin: 0;
    font-weight: 800;
    line-height: 1.2;
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  small {
    white-space: pre-line;
    color: #696c6f;
    margin-top: 2px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
  }

  pre {
    line-height: 1.5;
    font-size: 16px;
  }
}
