@if (artistName) {
  <div class="song-page rows">
    <div class="song-page__col col">
      @if (song?.name) {
        @for (name of song?.name; track name; let index = $index) {
          @if (index) {
            <small>{{ name }}</small>
          } @else {
            <h3>
              {{ name }}
            </h3>
          }
        }
      }
      <small>{{ song?.authors }}</small>
      <pre>{{ song?.text | trim }}</pre>
    </div>

    <div class="song-page__col col">
      @if (song?.clipYouTubeId) {
        <div class="song-page__video">
          <youtube-player
            [videoId]="song?.clipYouTubeId"
            placeholderImageQuality="low"
          ></youtube-player>
        </div>
      }
    </div>

    <div class="song-page__full col">
      <div class="song-page__albums rows">
        @if (albums.length) {
          @for (album of albums; track album.id) {
            <div class="song-page__album col">
              <app-album-card
                [name]="album.name"
                [link]="'/artist/' + artistId + '/album/' + album.id"
                [year]="album.year"
                [image]="'.' + album.folder"
                [thumbnail]="true"
              ></app-album-card>
            </div>
          }
        } @else {
          <div class="song-page__album col">
            <app-album-card
              [link]="'/artist/' + artistId + '/songs/other'"
              [name]="'Песни, не вошедшие в альбомы'"
              [thumbnail]="true"
            ></app-album-card>
          </div>
        }
      </div>
    </div>
  </div>
}
