@import '../../../grid';

.song-page {
  &__col {
    @include size(12);
    @include size-w992(24);
    position: relative;
  }

  small {
    white-space: pre-line;
    color: #696c6f;
    margin-top: 2px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
  }

  pre {
    line-height: 1.5;
    font-size: 16px;
  }

  &__video {
    position: sticky;
    top: 20px;
    aspect-ratio: 16 / 9;

    @include w992-block() {
      margin: 20px 0 40px;
    }
  }
}
