.song-page {
  &__video {
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
    max-width: 100%;
    aspect-ratio: 16 / 9;
  }

  h3 {
    margin-top: 27px;
    margin-bottom: 0;
    font-weight: 800;
    line-height: 1.2;
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  small {
    white-space: pre-line;
    color: #696c6f;
    margin-top: 2px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
  }

  pre {
    line-height: 1.5;
    font-size: 16px;
  }
}
