<form [formGroup]="form">
  <fieldset>
    <legend>Тип</legend>
    <label>
      <input type="radio" formControlName="type" value="albums" />
      Альбомы
    </label>
    <label>
      <input type="radio" formControlName="type" value="songs" />
      Песни
    </label>
  </fieldset>
  <fieldset>
    <legend>Артист</legend>
    <select formControlName="artist">
      <option value="schwarzer-engel">Schwarzer Engel</option>
      <option value="tardigrade-inferno">Tardigrade Inferno</option>
      <option value="geval">Гевал</option>
      <option value="master">Мастер</option>
      <option value="mc18">ОДИН.ВОСЕМЬ</option>
      <option value="shmely">Шмели</option>
    </select>
    <label>
      <input type="text" formControlName="id" placeholder="id" />
      <input type="text" formControlName="authors" placeholder="authors" />
    </label>
  </fieldset>
  <fieldset formGroupName="languages">
    <legend>Языки</legend>
    <textarea formControlName="ru" rows="10"></textarea>
    <textarea formControlName="uk" rows="1" placeholder="ua"></textarea>
  </fieldset>
  <button type="reset" (click)="reset()">Очистить</button>
  <button type="submit" (click)="generate()">Сгенерироваь</button>
</form>

@if (isResult) {
<div>
  <pre
    class="result-item"
    (click)="copy($event, `cd src/db/artists/${form.value.artist}/${form.value.type}`)"
  >
cd src/db/artists/{{ form.value.artist }}/{{ form.value.type }}</pre
  >
  <pre class="result-item" (click)="copy($event, `touch ${files.join(' ')}`)">
touch {{ files.join(' ') }}</pre
  >
  <pre class="result-item" (click)="copy($event, types.join('\n'))">{{ types.join('\n') }}</pre>
  <pre class="result-item" (click)="copy($event, index.join('\n'))">{{ index.join('\n') }}</pre>
  <pre class="result-item" (click)="copy($event, imports.join('\n'))">{{ imports.join('\n') }}</pre>
  @if (form.value.type === 'albums') {
  <pre class="result-item" (click)="copy($event, enums.join('\n'))">{{ enums.join('\n') }}</pre>
  @for (album of albums; track album) {
  <pre class="result-item" (click)="copy($event, album)">{{ album }}</pre>
  } } @else {
  <pre class="result-item" (click)="copy($event, tracks.join('\n'))">{{ tracks.join('\n') }}</pre>
  @for (song of songs; track song) {
  <pre class="result-item" (click)="copy($event, song)">{{ song }}</pre>
  } }
</div>
}
