textarea {
  display: block;
  width: 100%;
  resize: vertical;
  font-family: inherit;
}

.result-item {
  padding: 10px;
  white-space: none;
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  cursor: pointer;

  &.copied {
    background-color: coral;
  }
}
