.video-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 2%;

  @media (max-width: 992px) {
    grid-template-columns: repeat(1, 1fr);
  }

  h3 {
    grid-column: 1 / -1;
  }

  &__item {
    padding-bottom: 28px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    aspect-ratio: 16 / 9;
  }

  &__title {
    display: block;
    font-weight: 700;
    line-height: 1.1;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
    margin-top: 14px;
  }

  &__year {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: #696c6f;
  }
}
