@import '../../../grid';

.video-page {
  margin-bottom: 40px;

  h3 {
    @include size(24);
  }

  &__item {
    @include size(12);
    @include size-w992(24);
    padding-bottom: 28px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    aspect-ratio: 16 / 9;
  }

  &__title {
    display: block;
    font-weight: 700;
    line-height: 1.1;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
    margin-top: 14px;
  }

  &__year {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: #696c6f;
  }
}
