@if (artistName) {
  <div class="album-page rows">
    <div class="album-page__item col">
      @if (album && album.folder) {
        <div class="album-page__folder">
          <img [src]="'.' + album.folder" [alt]="album.name" />
        </div>
      }

      <h3>
        {{ album?.name }}
        <span class="album-page__year">{{ album?.year }}</span>
      </h3>

      @for (song of songs; track song.id || song.name; let i = $index) {
        <div class="album-page__song">
          @if (song.id) {
            {{ i + 1 }}.
            <a [routerLink]="'/artist/' + artistId + '/song/' + song.id">
              {{ song.name }}
            </a>
          } @else {
            {{ i + 1 }}. <span>{{ song.name }}</span>
          }
        </div>
      }

      @if (album?.info) {
        <pre>{{ album?.info | trim }}</pre>
      }

      <app-streaming-list [streaming]="album?.streaming"></app-streaming-list>
    </div>
  </div>
}
