<div class="album-page">
  @if (artistName) {
    <div class="album-page__wrap">
      @if (album && album.folder) {
        <div class="album-page__folder-wrap">
          <img
            class="album-page__folder"
            [src]="'.' + album.folder"
            [alt]="album.name"
          />
        </div>
      }
      <h3>
        {{ album?.name }}
        <span>{{ album?.year }}</span>
      </h3>
      @for (song of songs; track song.id || song.name; let i = $index) {
        <div class="album-page__item">
          @if (song.id) {
            {{ i + 1 }}.
            <a [routerLink]="'/artist/' + artistId + '/song/' + song.id">
              {{ song.name }}
            </a>
          } @else {
            {{ i + 1 }}. <span>{{ song.name }}</span>
          }
        </div>
      }
      @if (album?.info) {
        <pre>{{ album?.info }}</pre>
      }
      <app-streaming-list [streaming]="album?.streaming"></app-streaming-list>
    </div>
  }
</div>
