<div class="home-page">
  @if (artistName) {
    <h2 class="home-page__name">
      <a [routerLink]="'/artist/'+artistId">{{ artistName }}</a>
    </h2>
    <div class="home-page__wrap">
      <h3>{{ album?.name }} ({{ album?.year }})</h3>
      @for (song of songs; track (song.id || song.name); let i = $index) {
        <div class="home-page__item">
          @if (song.id) {
          {{ i + 1 }}. <a [routerLink]="'/artist/'+artistId+'/song/'+song.id">
            {{ song.name }}
          </a>
          } @else {
            {{ i + 1 }}. {{ song.name }}
          }
        </div>
      }
      @if (album?.info) {
        <pre>{{ album?.info }}</pre>
      }
    </div>
  }
</div>
