@import '../../../grid';

.other-songs-page {
  &__item {
    @include size(24);
    line-height: 1.8;

    a {
      margin-left: 5px;
      text-decoration: none;
      border-bottom: 1px solid var(--hover-text);
    }
  }
}
