<div class="home-page">
  @if (artistName) {
    <h2 class="home-page__name">
      <a routerLink="">
        {{ artistName }}
      </a>
    </h2>
    <div class="home-page__wrap rows">
      @for (album of albums; track album.id) {
        <app-album-card
          class="col"
          [link]="album.id"
          [name]="album.name"
          [year]="album.year"
          [image]="album.folder"
        ></app-album-card>
      }
      <app-album-card
        class="col"
        [link]="'/artist/' + artistId + '/songs/other'"
        [name]="'Песни, не вошедшие в альбомы'"
      ></app-album-card>
      <app-album-card
        class="col"
        [link]="'/artist/' + artistId + '/songs'"
        [name]="'Все песни'"
      ></app-album-card>
    </div>
    @if (streaming) {
      <ul>
        @if (streaming.spotify) {
          <li>
            <a target="_blank" [href]="streaming.spotify">Spotify</a>
          </li>
        }
        @if (streaming.youtubeMusic) {
          <li>
            <a target="_blank" [href]="streaming.youtubeMusic">YouTube Music</a>
          </li>
        }
        @if (streaming.youtube) {
          <li>
            <a target="_blank" [href]="streaming.youtube">YouTube</a>
          </li>
        }
        @if (streaming.yandexMusic) {
          <li>
            <a target="_blank" [href]="streaming.yandexMusic">Яндекс.Музыка</a>
          </li>
        }
      </ul>
    }
  }
</div>
