<div class="home-page">
  @if (artistName) {
    <h2 class="home-page__name">{{ artistName }}</h2>
    <div class="home-page__wrap">
      @for (album of albums; track album.id) {
        <div class="home-page__item">
          <span>
            <a [routerLink]="album.id">
              {{ album.name }}
            </a>
          </span> ({{ album.year }})
        </div>
      }
      <div class="home-page__item">
          <span>
            <a [routerLink]="'/artist/'+artistId+'/songs/other'">Песни, не вошедшие в альбомы</a>
          </span>
      </div>
      <div class="home-page__item">
          <span>
            <a [routerLink]="'/artist/'+artistId+'/songs'">Все песни</a>
          </span>
      </div>
    </div>
  }
</div>
