@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'colors', 'youtube-player';

body {
  font-family: Roboto, sans-serif;
  color: var(--text);
  background-image: url('../public/artist/master/bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-width: 320px;
  margin: 0;

  h2,
  h3 {
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  pre {
    font-family: inherit;
    white-space: pre-wrap;
  }

  small {
    white-space: pre-line;
    color: #696c6f;
    margin-top: 2px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
  }

  a {
    color: inherit;

    &:hover {
      color: var(--hover-text);
    }
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }
}
